fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic-settings==2.3.4
sqlalchemy==2.0.34
psycopg2-binary==2.9.9
minio==7.2.7
web3==6.20.1
eth-account==0.10.0
python-multipart==0.0.9
requests==2.32.3
PyJWT==2.9.0
PyJWT==2.9.0
email-validator==2.2.0
